<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMRPG Character Sheet</title>
    <style>
        input[type=text] {
            width: 3em;
        }
    </style>
</head>
<body onload="createDefaultRows()">

<h1>Character Sheet</h1>

<table>
    <tbody id="sheet-table-body">
    </tbody>
</table>

</body>
<script>
function createDefaultRows() {
    addAttribute( "Strength" );
    addAttribute( "Dexterity" );
    addAttribute( "Constitution" );
    addAttribute( "Intelligence" );
    addAttribute( "Wisdom" );
    addAttribute( "Charisma" );
    addAttribute( "Hits" );
}

function addAttribute( name ) {
    // Get tbody and create new row
    let tbody = document.getElementById('sheet-table-body');
    let newRow = document.createElement("tr");
    // Create label cell
    let labelCell = document.createElement("td");
    labelCell.classList.add("label");
    labelCell.innerText = name + ":"
    // Create value cell
    let valueCell = document.createElement("td");
    let newInput = document.createElement("input");
    newInput.type = "text";
    newInput.name = name.toLowerCase();
    valueCell.appendChild( newInput );
    // Add cells to row and row to table
    newRow.appendChild( labelCell );
    newRow.appendChild( valueCell );
    tbody.appendChild( newRow );
}
</script>
</html>